*{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Lato Latin Regular';
    src: url('../fonts/latolatin-regular-webfont.eot');
    src: url('../fonts/latolatin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/latolatin-regular-webfont.woff2') format('woff2'),
         url('../fonts/latolatin-regular-webfont.woff') format('woff'),
         url('../fonts/latolatin-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #e8ebef;
}

.wrapper{
	margin: 150px 500px;
}

ul{
	list-style: none;
	background-color: #dbe1e9;
	color: #788290;
	font-size: 14px;
	font-family: 'Lato Latin Regular';
	width: 514px;
}

#address{
	margin-left: 31px;
}
#lastname{
	margin-left: 22px;
}
input{
	margin: 10px 0 10px 20px;
	border: solid 2px transparent;
	
}

input:active{
	border: solid 2px #5bc3be;	
}

label{
	padding-left: 18px;
}

button{
	margin-top: 10px;
	height: 32px;
	font-size: 12px;
	padding: 0 18px;
	background-color: #e8ebef;
	border: 1px solid #788290;
	border-radius: 3px;
	color: #788290;
	text-align: center;
	font-family: 'Lato Bold';
}
button:hover{
	background-color: #788290;
	color: #fff;
}

div{
	height: 16px;
	width: 220px;
}

.tooltip {
  padding: 7px 0 5px 5px;
  background-color: #3e9ee3;
  color:#fff;
  border-radius: 3px;
  font-family: Lato Latin Regular;
  margin: 6px 6px 10px 0;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
}

li  {
  position: relative;
}