*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  margin-top: 200px;
}

body{
  background-color: #eee;
}

#timer{
  color: #252423;
  font-family: "Verdana";
  font-size: 28px;
  font-weight: 300px;
}

#toggle{
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #998e61);
  background-image: -moz-linear-gradient(top, #ffffff, #998e61);
  background-image: -ms-linear-gradient(top, #ffffff, #998e61);
  background-image: -o-linear-gradient(top, #ffffff, #998e61);
  background-image: linear-gradient(to bottom, #ffffff, #998e61);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #252423;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
  border: solid #ffffff 1px;
}
#toggle:hover,
#reset:hover,
#split:hover{
  background: #f53100;
  background-image: -webkit-linear-gradient(top, #f53100, #400d00);
  background-image: -moz-linear-gradient(top, #f53100, #400d00);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid #ffffff 1px;
}

#reset{
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #998e61);
  background-image: -moz-linear-gradient(top, #ffffff, #998e61);
  background-image: -ms-linear-gradient(top, #ffffff, #998e61);
  background-image: -o-linear-gradient(top, #ffffff, #998e61);
  background-image: linear-gradient(to bottom, #ffffff, #998e61);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #252423;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
  border: solid #ffffff 1px;
}

#split{
  background: #5c5c5c;
  background-image: background-image: -webkit-linear-gradient(#5c5c5c, #000000);
  background-image: background-image: -o-linear-gradient(#5c5c5c, #000000);
  background-image: background-image: linear-gradient(#5c5c5c, #000000);
  background-image: -moz-linear-gradient(top, #5c5c5c, #000000);
  background-image: -ms-linear-gradient(top, #5c5c5c, #000000);
  background-image: -o-linear-gradient(top, #5c5c5c, #000000);
  background-image: linear-gradient(to bottom, #5c5c5c, #000000);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid #ffffff 1px;
}

.onesplit{
  font-family: "Verdana";
  font-size: 28px;
  font-weight: 300px;
  background-color: #252423;
  color: white;
}