.main{
  margin: 60px auto;
  width: 500px;
}

/*BORDERS*/
.row_1,
.row_2,
.row_3,
.col_4,
.blue{
  border-bottom: 10px solid #000;
}

.row_4,
.blue{
  border-top: 10px solid #000;
}

.column_2,
.column_3,
.red,
.black{
  border: 10px solid #000;
}

.column_4,
.column_5,
.right_border{
  border-right: 10px solid #000;
}

.blue{
  border-left: 10px solid #000;
}

/*ELEMENT DIMENSIONS*/
.row_1{
  height: 55px;
}

.row_2{
  height: 135px;
}

.row_3{
  height: 140px;
}

.row_4,
.row_5{
  height: 70px;
}

.row_6{
  height: 40px;
}

.row_7{
  height: 35px;
}

.column_1{
  width: 50px;
}

.column_2,
.column_3{
  width: 65px;
}

.column_4{
  width: 130px;
}

.column_5,
.column_6{
  width: 80px;
}

/*BACKGROUNDS*/
.red{
  background: #ff5a2d;
}

.yellow{
  background: #ffea4e;
}

.black{
  background: #151314;
}

.blue{
  background: #074a8d;
}

.column_2,
.column_3{
  background: #1a1a1a;
}

/*NOISE*/
.red,
.yellow,
.blue{
  background-image: url(../img/noise.png);
}